body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: black;
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
}

main {
    flex: 1 0 auto;
    display: flex;
}

main > .flex {
    width: 100%;
}

#chat-messages {
    min-height: 10vh;
    height: 63vh;
    width: 100%;
    overflow-y: scroll;
    flex-grow: 1;
}

#chat-messages a {
    color: tan;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.height-100 {
    height: 100%;
}

nav {
    background-color: black;
    height: 40px;
    border-bottom: 1px solid #333;
}

nav .nav-wrapper {
    font-size: 16px;
    line-height: 32px;
    color: white;
    text-align: right;
}

footer.page-footer {
    background-color: #333;
}

.video-wrapper {
    flex: 4;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat-wrapper {
    flex: 1;
    width: 20%;
    color: white;
    position: relative;
    z-index: 1;
}

button {
    color: black;
    display: inline-block;
    background-color: aquamarine;
    padding: 5px 15px;
    border: 0;
    cursor: pointer;
}

.message {
    color: tan;
    margin-bottom: 3px;
}
.chip {
    color: #ccc;
    background-color: #333;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.chip img {
    width: 35px;
    margin-right: 4px;
}
.message-text {
    padding: 4px;
    font-size: 18px;
    overflow: hidden;
}

#button-wrapper {
    opacity: 0.1;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
}

#button-wrapper:hover {
    opacity: 1;
}

#playback {
    float: right;
    color: white;
}

.brand-logo {
    padding: 5px;
    color: white;
    text-decoration: none;
    display: block;
}
input[type="email"], input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 5px 0;
    padding: 5px;
}
.input-field {
    padding: 5px;
}

.chat-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-switcher {
    padding: 0 0 15px;
}

.video-switcher p {
    margin: 0 0 5px;
}

#chat-messages::-webkit-scrollbar {
    width: 10px;
}

#chat-messages::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);        /* color of the tracking area */
}

#chat-messages::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);    /* color of the scroll thumb */
}

.app-controls {
    position: fixed;
    top: 0;
    right: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
    width: 270px;
    padding: 15px;
    color: white;
    border: 2px solid aquamarine;
}

.app-controls.shown {
    transform: translateX(300px);
}

.app-controls select {
    width: 100%;
}

.app-controls a {
    display: flex;
    position: absolute;
    top: -2px;
    width: 40px;
    right: -40px;
    background-color: aquamarine;
    color: black;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.app-controls a svg {
    width: 20px;
    height: 20px;
}

.app-controls .lurkers ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.name-changer {
    margin-top: 30px;
}

canvas {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.emoji-picker__wrapper {
    z-index: 1;
}

.hidden {
    display: none !important;
}

#video-app.disabled {
    display: none !important;
}

#app.disabled {
    flex: 0;
    width: 0px;
    overflow: hidden;
}

.feature-changer {
    margin-top: 10px;
}
.feature-changer label {
    display: block;
}
.feature-changer p {
    margin-bottom: 5px;
}

#video-app video {
    width: 100%;
    max-height: calc(100vh - 125px);
}

body > h1 {
    position: fixed;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 100px;
    transform: translate(-50%, -50%);
    text-align: center;
}

#gniles {
    position: fixed;
    top: 100%;
    right: 1.5%;
    z-index: 10;
    width: 17%;
    transform: translateY(0);
    transition: all .5s ease-out;
}

#gniles.peekaboo {
    transform: translateY(-100%);
}

#newt {
    position: fixed;
    bottom: 0;
    right: 100%;
    z-index: 10;
    width: 17%;
    transform: translateX(0);
    transition: all .5s ease-out;
}

#newt.peekaboo {
    transform: translateX(100%);
}

#charlie {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    width: 17%;
    transform: translateX(100%);
    transition: all .5s ease-out;
}

#charlie.peekaboo {
    transform: translateX(0);
}

#moi {
    position: absolute;
    height: 80vh;
    transform: rotate(180deg);
    transform-origin: bottom center;
    transition: all .5s ease-in-out;
    bottom: 0;
    left: 10%;
}

#moi.peekaboo {
    transform: rotate(0deg);
}
